* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to right, #0f1d4c, #3bb6e5);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 150px;
  margin-bottom: 1rem;
}

.slogan {
  text-align: center;
  font-size: 1.3rem; /* aumentei a fonte */
  margin-bottom: 2rem;
  font-weight: 600;
}

.slogan span {
  display: block;
  font-size: 1.3rem; /* maior destaque para FINANCEIRA */
  font-weight: bold;
  margin-top: 0.3rem;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-form label {
  color: #00e1ff;
  font-weight: 600;
  margin-bottom: 0.2rem;
  font-size: 1.3rem;
}

.login-form input {
  padding: 0.8rem;
  margin-bottom: 1.2rem;
  border: 2px solid white;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  font-size: 0.9rem;
}

.login-form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.senha-link {
  text-align: left;
  margin-bottom: 1rem;
}

.senha-link a {
  font-size: 0.8rem;
  color: white;
  text-decoration: none;
  padding-left: 25px;
}

.sem-conta {
  text-align: center;
  font-size: 0.81rem;
  color: #00c8ff;
  text-decoration: none;
  margin-bottom: 0.5rem;
  display: block;
}

.sem-conta:hover {
  text-decoration: underline;
  color: #ffffff; /* opcional para efeito ao passar o mouse */
}

.btn-cadastrar {
  margin-top: 0.1rem;
  padding: 0.8rem;
  background-color: white;
  color: #001944;
  font-weight: bold;
  border: none;
  max-width: 12rem;
  margin-left: 21%;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-cadastrar:hover {
  background-color: #cce7ff;
}
@media (max-width: 767px) {
  .slogan {
    font-size: 1.2rem;
  }
  .senha-link a {
    font-size: 0.81rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .logo {
    width: 80%;
  }
  .slogan {
    font-size: 1.35rem;
  }
  .slogan span {
    font-size: 1.35rem;
  }
  .login-form label {
    font-size: 1.61rem;
  }
  .login-form input {
    font-size: 1.61rem;
  }
  .senha-link {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Define duas colunas de tamanho igual */
    gap: 20px; /* Espaço entre os itens */
  }
  .senha-link a {
    padding: 6px;
    text-align: center;
    font-size: 0.95rem;
  }
  .sem-conta {
    font-size: 1.21rem;
  }
  .btn-cadastrar {
    font-size: 1.21rem;
  }
}
@media (max-width: 374px) {
  .slogan {
    font-size: 1.1rem;
  }
  .senha-link {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Define duas colunas de tamanho igual */
    gap: 20px; /* Espaço entre os itens */
  }
  .senha-link a {
    padding: 6px;
    text-align: center;
    font-size: 0.95rem;
  }
  .sem-conta {
    font-size: 1.21rem;
    text-align: center;
  }
  .btn-cadastrar {
    font-size: 1.1rem;
    display: flex;

    width: 155px;
  }
}
